/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,500,600&display=swap');

$fonts: (
  ff-body: (
    'Poppins',
    sans-serif,
  ),
  ff-header: (
    'Poppins',
    sans-serif,
  ),
  fw-light: 300,
  fw-medium: 500,
  fw-bold: 600,
  fs-base: 16px,
  lh-base: 1.5,
);

// Media queries
$mq: (
  x-small: 568px,
  small: 812px,
  medium: 1024px,
  large: 1200px,
  x-large: 1440px,
);

// Colors
$colors: (
  c-white-ui00: #ffffff,
  c-light-grey-ui01: #f5f7fa,
  c-medium-grey-ui02: #cbd2d9,
  c-dark-grey-ui03: #52606d,
  c-black-ui04: #171f3f,
  c-blue-primary-01: #e6f5ff,
  c-blue-primary-02: #64beff,
  c-blue-primary-03: #0593fb,
  c-blue-primary-04: #076fbb,
  c-secondary-purple: #653cad,
  c-secondary-green: #06c847,
  c-secondary-blue: #2251cc,
);
