/* Page header */
.header {
  .wrapper {
    max-width: 780px;

    @media screen and (min-width: 1200px) {
      max-width: 950px;
    }

    @media screen and (min-width: 1440px) {
      grid-column: 2;
    }
  }
}
