.card {
  background: var(--c-white-ui00);
  box-shadow: 8px 6px 16px rgba(24, 41, 67, 0.09);
  border-radius: 4px;
  margin: 0 1rem 1rem 1rem;

  &__content {
    padding: 2rem;
  }

  &__image {
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1rem 0 0.25rem 0;
  }

  &__description {
    font-size: 0.875rem;
    line-height: 1.625rem;
    color: var(--c-dark-grey-ui03);
    margin: 0;
  }

  &__footer {
    background: var(--c-light-grey-ui01);
    padding: 0.625rem 2rem;
  }

  &__list {
    list-style: none;
    margin: 0;
    // padding: 0.625rem 1rem;
    display: flex;
    justify-content: flex-end;
  }

  &__item {
    padding: 0 1rem;
    display: block;

    &--website {
      &::before {
        content: '';
        background-image: url('../images/screen.svg');
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        width: 22px;
        height: 20px;
        vertical-align: middle;
        margin-right: 6px;
      }
    }

    &--repo {
      &::before {
        content: '';
        background-image: url('../images/command.svg');
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        width: 22px;
        height: 20px;
        vertical-align: middle;
        margin-right: 6px;
      }
    }
  }

  &__link {
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1.75rem;
    color: var(--c-blue-primary-03);

    // position: relative;
  }
}
